
//CHECKBOXES
$color-checkbox-bg: #ffffff; //$color-neutral-0
$color-checkbox-border: #a1a1a1; //$color-neutral-5
$color-checkbox-checked: #F90093; //$color-1
$color-checkbox-focused: #F90093; //$color-1
$color-checkbox-answer-correct: #70C1B3; //$color-success
$color-checkbox-answer-incorrect: #F90093; //$color-alert
$color-checkbox-hover: #F90093; //$color-1