html, body {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  font: inherit;
  font-family: 'Lato', sans-serif;
  color: #4a4a49; }

.page-padding {
  padding: 5% 10%; }

.btn-3 {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease;
  color: white;
  border: none;
  background: none; }
  .btn-3:hover {
    color: #F90093; }

aside {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 1em;
  width: 250px;
  height: 100%;
  background: #4a4a49;
  color: #F90093; }

main {
  padding-left: 250px; }

.block {
  display: block; }

.margin-bottom {
  margin-bottom: 16px; }

.bg-blue {
  background: aliceblue; }

.bg-lavender {
  background: lavender; }

.bg-yellow {
  background: lightyellow; }

.bg-orange {
  background: bisque; }

.bg-green {
  background: palegreen; }

.bg-aquamarine {
  background: aquamarine; }

.bg-cadetblue {
  background: cadetblue; }
